@*##########################################################################
#   DATE          NAME                DESC
#   11/16/2021    Luke Brandt         Initial Deployment
#   12/3/2021       //                Added link for checkouts
#
#
#*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Disk Inventory Manger</h1>
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-area="" asp-controller="Artist" asp-action="Index">Manage Artists</a>
            </li>
            <li class="list-group-item">
                <a asp-area="" asp-controller="Borrower" asp-action="Index">Manage Borrowers</a>
            </li>
            <li class="list-group-item">
                <a asp-area="" asp-controller="Disk" asp-action="Index">Manage Disks</a>
            </li>
            <li class="list-group-item">
                <a asp-area="" asp-controller="DiskHasBorrower" asp-action="Index">Manage Checkouts</a>
            </li>
        </ul>
    </div>
</div>
