@model List<Artist>
@{ 
    ViewBag.Title = "Artist Manager";
}

<h1>@ViewBag.Title</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Artist Id</th>
            <th>Artist Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
            {
        <tr>
            <td>@artist.ArtistId</td>
            <td>@artist.ArtistName</td>
            <td>@artist.ArtistTypeId</td>
        </tr>
            }
    </tbody>
</table>