@model Borrower
@{
    ViewBag.Title = "Delete Artist";
    
}
<h2>Confirm Delete?</h2>
<h3>Are you sure you want to delete @Model.BorrowerFname @Model.BorrowerLname from the database?</h3>
<p>Note: If borrower has any disks checked out the borrower will not be deleted.</p>
<form asp-action="Delete" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger bg-dark"></div>
    <input type="hidden" asp-for="BorrowerId" />
    <button type="Submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Borrower" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
